.side-nav {
    position: absolute;
    left: 0;
    width: 150px;
    height: 100vh;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vmin;

}

.shop {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.discover-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5vmin;
}

.content {
    height: 100%;
    width: min(80vw, 80vmin);
    background: grey;
    border-radius: 2vmin;
    padding: 4vmin;
    position: relative;

}